.box-span {
  background: url(http://icichtc.ewave.vn:4900/images/livechat/lcwg.png) center
    left no-repeat;
  margin-left: 10px;
  line-height: 30px;
  display: inline-block;
  padding-left: 30px;
  font: 700 14px/30px arial;
  color: #fff;
}
@media only screen and (max-width: 376px) {
  .chatbox-mobile {
    margin-bottom: 60px;
    margin-right: 64px;
  }
}
.chatbox_1 {
  position: fixed;
  bottom: 0px;
  right: 5px;
  z-index: 9999;
  height: 355px;
  width: 300px;
  border: none;
  display: block;
}
.chatbox_2 {
  width: 100%;
  height: 32px;
  background: transparent;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}
.chatbox_3 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 355px;
  border: none;
}
.chatbox_4 {
  position: fixed;
  width: 200px;
  height: 30px;
  bottom: 0px;
  right: 5px;
  background: rgb(80, 178, 229);
  border-radius: 3px 3px 0px 0px;
  cursor: pointer;
  display: block;
}
