.container-email {
  background: url(../img/sea.png) repeat;
  width: 100%;
  padding: 30px 0;
}
.titleEmail {
  font-size: 18px;
  margin-right: 20px;
  font-weight: bold;
}
.formEmail {
  margin-right: 10px;
  height: 35px;
  padding: 10px;
}
.form-email {
  border: none;
  width: 35%;
  margin-right: 10px;
  border-radius: 5px;
  height: 35px;
}
.button-email {
  height: 40px;
  width: 50px;
  background: #034a84;
  color: #fff;
  border: none;
  border-radius: 5px;
  border-color: #fff;
}
// Media Email
@media only screen and (max-width: 376px) {
  .titleEmail {
    font-size: 14px;
  }
  .form-email {
    width: 250px;
  }
}
